<h1><%=@owner.name%></h1>
<% if !@owner.pets.empty? %>
	<h4>Pets:</h4>
	<ul>
	  <%@owner.pets.each do |pet|%>
	  <a href="/pets/<%= pet.id %>"><li><%=pet.name%></li></a>
	  <%end%>
	</ul>
	<% else %>
		<div class="alert alert-danger">
			<%= @owner.name %> has no pets
		</div>
<% end %>


<p><a href="/owners/<%= @owner.id %>/edit" class="btn btn-secondary">edit</a></p>